@use 'sass:math';
@use 'sass:map';
@use 'sass:meta';
@use 'vuetify/lib/styles/tools/functions' as *;
@use "vuetify/elevations";
@use 'vuetify/settings' as vuetify;


// Custom Variables
$white: #fff !default;
$font-family: "Quicksand";

// Vuetify Variables
$shadow-key-umbra-opacity: elevations.$shadow-key-umbra-opacity !default;
$shadow-key-penumbra-opacity: elevations.$shadow-key-penumbra-opacity !default;
$shadow-key-ambient-opacity: elevations.$shadow-key-ambient-opacity !default;
$shadow-key-umbra: elevations.$shadow-key-umbra !default;
$shadow-key-penumbra: elevations.$shadow-key-penumbra !default;
$shadow-key-ambient: elevations.$shadow-key-ambient !default;